/********************************
CUSTOM CSS EMBEDDED IN PAGES, NODES, AND BLOCKS

To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 20, 2014, 11:01:51 AM
    Author     : Owner
*/

.left-image{
   float: left;
   border: solid 1px #CCC;
   padding: 1%;
   margin-bottom: 3em;
   margin-right: 3em;
   -moz-box-shadow: 1px 1px 6px #999;
   -webkit-box-shadow: 1px 1px 6px #999;
   box-shadow: 1px 1px 6px #999;
}

.right-text{
   float: right;
   width: 60%;
}

.content img{
    border: solid 1px #CCC;
   padding: 1%;
   margin-bottom: 3em;
   -moz-box-shadow: 1px 1px 6px #999;
   -webkit-box-shadow: 1px 1px 6px #999;
   box-shadow: 1px 1px 6px #999;
}

.node-image-gallery img,
.node-video-gallery .field-item{
    float: left;
}

.calendar-calendar a:link,
.calendar-calendar a:visited{
    color: #000;
    text-decoration: underline;
}

.calendar-calendar a:hover,
.calendar-calendar a:focus{
    color: #fff;
    text-decoration: none;
}

.date-display-single,
.continuation{
    color: #000;
}